In [3]:
# importando bíbliotecas
import pandas as pd

In [4]:
# criando o grafico
%matplotlib inline

In [5]:
df = pd.read_csv('cursos-prouni-5d41dcb05ccf4473b2451a47ad5abafe.csv')
df.head()

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
0,AC,Acrelandia,Universidade Paulista - UNIP,ACRELANDIA - Centro,Administração,Bacharelado,Curso a Distância,289.0,1.0,1.0,NaN,NaN,572.74,548.0,NaN,NaN
1,AC,Cruzeiro do Sul,Centro Universitário Internacional - Uninter -...,PAP CRUZEIRO DO SUL - Centro,Administração,Bacharelado,Curso a Distância,298.0,1.0,NaN,NaN,NaN,646.14,NaN,NaN,NaN
2,AC,Cruzeiro do Sul,Faculdade Educacional da Lapa - FAEL,AC - CRUZEIRO DO SUL - POLO EAD - CENTRO,Administração,Bacharelado,Curso a Distância,325.0,NaN,NaN,1.0,NaN,NaN,NaN,577.62,NaN
3,AC,Cruzeiro do Sul,Universidade Paulista - UNIP,CRUZEIRO DO SUL - Centro,Administração,Bacharelado,Curso a Distância,319.0,1.0,NaN,NaN,NaN,616.68,NaN,NaN,NaN
4,AC,Rio Branco,Centro Universitário Internacional - Uninter -...,PAP RIO BRANCO - Bosque,Administração,Bacharelado,Curso a Distância,298.0,NaN,NaN,1.0,NaN,NaN,NaN,569.00,NaN

In [6]:
# formato (linhas,colunas)
df.shape

(41447, 16)

In [7]:
# tipos de dados das colunas
df.dtypes

uf_busca                 object
cidade_busca             object
universidade_nome        object
campus_nome              object
nome                     object
grau                     object
turno                    object
mensalidade             float64
bolsa_integral_cotas    float64
bolsa_integral_ampla    float64
bolsa_parcial_cotas     float64
bolsa_parcial_ampla     float64
nota_integral_ampla     float64
nota_integral_cotas     float64
nota_parcial_ampla      float64
nota_parcial_cotas      float64
dtype: object

In [8]:
# analise matemática das colunas númericas
df.describe()

,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
count,41447.000000,32520.000000,25404.000000,8828.000000,13041.000000,32520.000000,16802.000000,16350.000000,5519.000000
mean,622.636966,1.535394,2.513541,1.873018,8.632544,575.982999,564.470439,527.517136,511.799638
std,606.442296,2.191578,3.019549,2.336403,18.372991,57.827594,57.869145,60.202170,56.787140
min,139.000000,0.000000,1.000000,1.000000,1.000000,450.000000,450.000000,450.000000,450.000000
25%,278.000000,0.000000,1.000000,1.000000,1.000000,544.360000,532.865000,453.980000,450.000000
50%,393.350000,1.000000,1.000000,1.000000,2.000000,580.740000,571.450000,532.420000,511.820000
75%,825.000000,2.000000,3.000000,2.000000,6.000000,614.145000,603.315000,573.235000,557.170000
max,9999.990000,58.000000,67.000000,74.000000,350.000000,781.200000,792.240000,776.360000,768.340000

In [9]:
# Descreve os dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41447 entries, 0 to 41446
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   uf_busca              41447 non-null  object
 1   cidade_busca          41447 non-null  object
 2   universidade_nome     41447 non-null  object
 3   campus_nome           41447 non-null  object
 4   nome                  41447 non-null  object
 5   grau                  41447 non-null  object
 6   turno                 41447 non-null  object
 7   mensalidade           41447 non-null  float64
 8   bolsa_integral_cotas  32520 non-null  float64
 9   bolsa_integral_ampla  25404 non-null  float64
 10  bolsa_parcial_cotas   8828 non-null   float64
 11  bolsa_parcial_ampla   13041 non-null  float64
 12  nota_integral_ampla   32520 non-null  float64
 13  nota_integral_cotas   16802 non-null  float64
 14  nota_parcial_ampla    16350 non-null  float64
 15  nota_parcial_cotas    5519 non-null   float64
dtypes: float64(9), object(7)
memory usage: 5.1+ MB

In [10]:
 # quantidade de curso por UF
 df['uf_busca'].value_counts()

SP    11533
MG     4175
PR     3918
RS     3060
BA     2505
SC     2195
RJ     1442
GO     1278
PA     1201
PE     1148
DF     1063
MT     1063
ES      825
CE      816
MS      785
MA      679
PB      596
RO      463
AM      429
PI      405
TO      343
RN      342
AL      327
SE      323
AP      219
AC      203
RR      111
Name: uf_busca, dtype: int64

In [11]:
# qual curso da mensalidade mais alta ?
df[df['mensalidade'] == df['mensalidade'].max()]

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
31987,MS,Campo Grande,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,Medicina,Bacharelado,Integral,9999.99,15.0,14.0,NaN,NaN,740.22,726.46,NaN,NaN

In [12]:
# qual curso é o mais barato do brasil
df[df['mensalidade'] == df['mensalidade'].min()]

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
20454,PA,Santarem,Universidade Paulista - UNIP,SANTARÉM - Fátima,Gestão Ambiental,Tecnológico,Curso a Distância,139.0,3.0,1.0,NaN,NaN,605.32,573.7,NaN,NaN
22934,DF,Brasilia,Centro Universitário Planalto do Distrito Fede...,DF03 - UNIDADE BRASIL CENTRAL - Taguatinga Nor...,Gestão de Recursos Humanos,Tecnológico,Vespertino,139.0,1.0,NaN,NaN,NaN,580.76,NaN,NaN,NaN
39118,ES,Vitoria,Universidade Paulista - UNIP,VITORIA I - Barro Vermelho,Serviço Social,Bacharelado,Curso a Distância,139.0,1.0,NaN,NaN,NaN,548.26,NaN,NaN,NaN

In [13]:
# mostra a mensalidade minima por cidade
# quando vc faz uma busca mais especifica muitas vezes tem que usar mais de um chete #pois tem que criar uma lista se tem mais de um indice isto é mais de um elemento #como abaixo tem uma pequna lista ['uf_busca','cidades_busca']
df[df['mensalidade'] == df['mensalidade'].min()][['uf_busca','cidade_busca']]

      uf_busca cidade_busca
20454       PA     Santarem
22934       DF     Brasilia
39118       ES      Vitoria

In [14]:
# qual a mensalidade mais cara por UF
# foi agrupado o argumento uf_busca 'coluna'
df.groupby('uf_busca')['mensalidade'].max()

uf_busca
AC    9674.34
AL    7290.00
AM    2127.05
AP    3607.62
BA    9048.00
CE    9836.40
DF    6757.92
ES    6022.28
GO    6484.47
MA    8281.38
MG    9350.00
MS    9999.99
MT    9208.00
PA    8508.54
PB    8350.00
PE    7250.00
PI    8402.00
PR    8466.72
RJ    9023.07
RN    6505.09
RO    6909.97
RR    1463.05
RS    8329.95
SC    6922.15
SE    6490.00
SP    9715.61
TO    7800.00
Name: mensalidade, dtype: float64

In [15]:
# mostra todos os dados dos cursos mais caros dos UF
# mostrou o  nome do curso
df.loc[df.groupby('uf_busca')['mensalidade'].idxmax()]

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
31940,AC,Rio Branco,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,Medicina,Bacharelado,Integral,9674.34,4.0,1.0,5.0,2.0,758.32,723.94,734.92,711.26
31941,AL,Maceio,Centro Universitário Tiradentes - FITS,CAMPUS - MACEIÓ - CRUZ DAS ALMAS - Cruz das A...,Medicina,Bacharelado,Integral,7290.00,5.0,2.0,NaN,NaN,753.02,735.26,NaN,NaN
32962,AM,Manaus,Faculdade Uninassau Manaus,FACULDADE SANTA DOROTEIA DO AMAZONAS - Nossa S...,Odontologia,Bacharelado,Matutino,2127.05,4.0,1.0,NaN,NaN,639.22,628.52,NaN,NaN
32966,AP,Macapa,Instituto Macapaense de Ensino Superior - IMMES,CAMPUS - MACAPÁ - CENTRO - Centro,Odontologia,Bacharelado,Noturno,3607.62,0.0,1.0,NaN,1.0,690.32,NaN,620.44,NaN
31945,BA,Lauro de Freitas,Faculdade de Ciências Agrárias e da Saúde - FAS,UNIDADE SEDE - Centro,Medicina,Bacharelado,Integral,9048.00,13.0,4.0,NaN,NaN,741.04,730.36,NaN,NaN
12916,CE,Crateus,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,Enfermagem,Bacharelado,Noturno,9836.40,1.0,NaN,NaN,NaN,663.36,NaN,NaN,NaN
31950,DF,Brasilia,Faculdades Integradas da União Educacional do ...,UNIDADE GAMA - Setor Leste Gama,Medicina,Bacharelado,Integral,6757.92,8.0,7.0,NaN,NaN,745.58,731.24,NaN,NaN
31952,ES,Colatina,Centro Universitário do Espírito Santo - Unesc...,UNIDADE SEDE - Martinelli,Medicina,Bacharelado,Integral,6022.28,NaN,NaN,3.0,3.0,NaN,NaN,750.02,727.00
31957,GO,Goiania,Pontifícia Universidade Católica de Goiás - PU...,GOIÂNIA (SEDE) - SETOR UNIVERSITÁRIO,Medicina,Bacharelado,Integral,6484.47,3.0,2.0,NaN,NaN,763.24,749.98,NaN,NaN
31959,MA,Imperatriz,Universidade do Ceuma - Uniceuma - UNICEUMA,UNIVERSIDADE DO CEUMA - UNICEUMA - CAMPUS IMPE...,Medicina,Bacharelado,Integral,8281.38,3.0,1.0,6.0,2.0,756.46,737.88,747.14,717.60
31983,MG,Sao Joao Del Rei,Centro Universitário Presidente Tancredo de Al...,UNIDADE SEDE (UNIDADE) - Fábricas,Medicina,Bacharelado,Integral,9350.00,4.0,3.0,NaN,NaN,747.84,736.68,NaN,NaN
31987,MS,Campo Grande,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,Medicina,Bacharelado,Integral,9999.99,15.0,14.0,NaN,NaN,740.22,726.46,NaN,NaN
31988,MT,Cuiaba,Universidade de Cuiabá - UNIC/UNIME,UNIC - BEIRA RIO (SEDE) - Jardim Europa,Medicina,Bacharelado,Integral,9208.00,7.0,5.0,NaN,NaN,735.40,725.36,NaN,NaN
31990,PA,Belem,Faculdade Metropolitana da Amazônia - FAMAZ,FACULDADE METROPOLITANA DA AMAZÔNIA - FAMAZ - ...,Medicina,Bacharelado,Integral,8508.54,2.0,1.0,7.0,2.0,741.36,739.90,760.80,715.10
31995,PB,Joao Pessoa,Faculdade de Medicina Nova Esperança - FAMENE,CAMPUS - JOÃO PESSOA - Gramame,Medicina,Bacharelado,Integral,8350.00,4.0,3.0,NaN,NaN,759.76,736.94,NaN,NaN
31997,PE,Olinda,Faculdade de Medicina de Olinda - FMO,OLINDA-BAIRRO NOVO - Bairro Novo,Medicina,Bacharelado,Integral,7250.00,3.0,2.0,NaN,NaN,748.88,733.34,NaN,NaN
32001,PI,Parnaiba,"Faculdade de Ciências Humanas,Exatas e da Saúd...",CAMPUS PRINCIPAL / FAHESP- FACULDADE DE CIÊNCI...,Medicina,Bacharelado,Integral,8402.00,4.0,1.0,NaN,NaN,772.82,739.86,NaN,NaN
11916,PR,Curitiba,Faculdade Dom Bosco - FDB,UNIDADE MERCÊS - Mercês,Educação Física,Licenciatura,Matutino,8466.72,1.0,2.0,NaN,NaN,579.20,570.40,NaN,NaN
32012,RJ,Itaperuna,Faculdade Redentor - FACREDENTOR,CAMPUS - ITAPERUNA - PRESIDENTE COSTA E SILVA...,Medicina,Bacharelado,Integral,9023.07,4.0,4.0,5.0,5.0,741.06,729.02,730.98,722.82
32017,RN,Natal,Universidade Potiguar - UNP,CAMPUS NATAL - UNIDADE SALGADO FILHO - Lagoa Nova,Medicina,Bacharelado,Integral,6505.09,10.0,8.0,NaN,NaN,750.88,740.50,NaN,NaN
32019,RO,Porto Velho,Centro Universitário São Lucas - UniSL,CAMPUS - PORTO VELHO - AREAL - Areal,Medicina,Bacharelado,Integral,6909.97,4.0,3.0,9.0,5.0,742.72,720.20,729.72,711.68
33143,RR,Boa VIsta,Faculdade Cathedral - FACES,CAMPUS - BOA VISTA - CAÇARI - Caçari,Odontologia,Bacharelado,Integral,1463.05,2.0,1.0,3.0,1.0,685.20,675.74,609.98,573.48
32022,RS,Caxias do Sul,Universidade de Caxias do Sul - UCS,CAMPUS SEDE - Petrópolis,Medicina,Bacharelado,Integral,8329.95,1.0,4.0,NaN,NaN,745.42,751.32,NaN,NaN
32036,SC,Rio do Sul,Centro Universitário para O Desenvolvimento do...,CAMPUS DE RIO DO SUL - SEDE - Jardim América,Medicina,Bacharelado,Integral,6922.15,0.0,3.0,NaN,NaN,735.66,NaN,NaN,NaN
32038,SE,Aracaju,Universidade Tiradentes - UNIT,CAMPUS ARACAJU FAROLÂNDIA - Farolândia,Medicina,Bacharelado,Integral,6490.00,5.0,2.0,NaN,NaN,753.04,742.36,NaN,NaN
32058,SP,Sao Paulo,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,Medicina,Bacharelado,Integral,9715.61,2.0,5.0,6.0,10.0,739.62,738.08,738.96,718.64
32062,TO,Palmas,"Faculdade de Ciências Humanas, Econômicas e da...","FACULDADE DE CIÊNCIAS HUMANAS, ECONÔMICAS E DA...",Medicina,Bacharelado,Integral,7800.00,4.0,1.0,NaN,NaN,747.68,737.96,NaN,NaN

In [16]:
# mensalidade entre 500 e 1000
df[(df['mensalidade'] > 500) & (df['mensalidade'] < 1000)]

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
5,AC,Rio Branco,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,Administração,Bacharelado,Noturno,823.22,NaN,NaN,NaN,2.0,NaN,NaN,564.24,NaN
9,AC,Rio Branco,Faculdade Meta - FAMETA,FACULDADE META - Conjunto Mariana,Administração,Bacharelado,Noturno,522.79,0.0,2.0,NaN,2.0,606.40,NaN,582.24,NaN
10,AC,Rio Branco,Unama Faculdade da Amazônia de Rio Branco - FM...,CAMPUS PRINCIPAL - Abrão Alab,Administração,Bacharelado,Noturno,672.15,2.0,1.0,NaN,NaN,567.98,568.88,NaN,NaN
13,AL,Arapiraca,Faculdade Uninassau Arapiraca,CAMPUS PRINCIPAL - Centro,Administração,Bacharelado,Noturno,586.63,2.0,1.0,NaN,NaN,658.26,593.30,NaN,NaN
18,AL,Maceio,Centro Universitário Maurício de Nassau de Mac...,UNIDADE SEDE - Ponta Verde,Administração,Bacharelado,Noturno,586.63,2.0,1.0,NaN,NaN,598.60,578.98,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41435,BA,Salvador,Faculdade Regional da Bahia - FARB,UNIRB - Patamares,Viticultura e Enologia,Tecnológico,Noturno,840.00,2.0,NaN,4.0,1.0,502.08,NaN,450.00,450.00
41437,MA,Timon,Instituto de Ensino Superior Múltiplo - IESM,CAMPUS - TIMON - PARQUE SÃO FRANCISCO - Parqu...,Zootecnia,Bacharelado,Vespertino,689.22,2.0,NaN,NaN,2.0,569.46,NaN,557.98,NaN
41438,MG,Patos de Minas,Centro Universitário de Patos de Minas - Unipa...,UNIDADE SEDE - Caiçaras,Zootecnia,Bacharelado,Noturno,951.29,0.0,2.0,NaN,NaN,610.40,NaN,NaN,NaN
41441,MT,Jaciara,Faculdade de Ciências Sociais Aplicadas do Val...,CAMPUS - JACIARA - CENTRO - Centro,Zootecnia,Bacharelado,Noturno,990.00,1.0,NaN,2.0,8.0,583.68,NaN,540.48,518.86
41442,PA,Redencao,Faculdade de Ensino Superior da Amazônia Reuni...,POLO NA SEDE - ALTO PARANÁ,Zootecnia,Bacharelado,Noturno,932.83,3.0,1.0,NaN,NaN,634.46,578.50,NaN,NaN

In [17]:
df.head(2)

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
0,AC,Acrelandia,Universidade Paulista - UNIP,ACRELANDIA - Centro,Administração,Bacharelado,Curso a Distância,289.0,1.0,1.0,NaN,NaN,572.74,548.0,NaN,NaN
1,AC,Cruzeiro do Sul,Centro Universitário Internacional - Uninter -...,PAP CRUZEIRO DO SUL - Centro,Administração,Bacharelado,Curso a Distância,298.0,1.0,NaN,NaN,NaN,646.14,NaN,NaN,NaN

In [18]:
# quais os 5 maiores mensalidades ?
df.nlargest(5,'mensalidade')

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
31987,MS,Campo Grande,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,Medicina,Bacharelado,Integral,9999.99,15.0,14.0,NaN,NaN,740.22,726.46,NaN,NaN
12916,CE,Crateus,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,Enfermagem,Bacharelado,Noturno,9836.40,1.0,NaN,NaN,NaN,663.36,NaN,NaN,NaN
32058,SP,Sao Paulo,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,Medicina,Bacharelado,Integral,9715.61,2.0,5.0,6.0,10.0,739.62,738.08,738.96,718.64
37058,CE,Crateus,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,Psicologia,Bacharelado,Noturno,9689.34,3.0,2.0,NaN,NaN,651.00,652.22,NaN,NaN
31940,AC,Rio Branco,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,Medicina,Bacharelado,Integral,9674.34,4.0,1.0,5.0,2.0,758.32,723.94,734.92,711.26

In [19]:
# quais as 5 menores mensalidades ?
df.nsmallest(6,'mensalidade')

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
20454,PA,Santarem,Universidade Paulista - UNIP,SANTARÉM - Fátima,Gestão Ambiental,Tecnológico,Curso a Distância,139.0,3.0,1.0,NaN,NaN,605.32,573.7,NaN,NaN
22934,DF,Brasilia,Centro Universitário Planalto do Distrito Fede...,DF03 - UNIDADE BRASIL CENTRAL - Taguatinga Nor...,Gestão de Recursos Humanos,Tecnológico,Vespertino,139.0,1.0,NaN,NaN,NaN,580.76,NaN,NaN,NaN
39118,ES,Vitoria,Universidade Paulista - UNIP,VITORIA I - Barro Vermelho,Serviço Social,Bacharelado,Curso a Distância,139.0,1.0,NaN,NaN,NaN,548.26,NaN,NaN,NaN
30989,SP,Sao VIcente,Faculdade de São VIcente - FSV,UNIDADE SEDE - Centro,Marketing,Tecnológico,Curso a Distância,144.0,1.0,2.0,2.0,5.0,533.34,450.0,450.0,450.0
20836,AC,Acrelandia,Universidade Paulista - UNIP,ACRELANDIA - Centro,Gestão Comercial,Tecnológico,Curso a Distância,149.0,1.0,NaN,NaN,NaN,545.64,NaN,NaN,NaN
20838,AC,Cruzeiro do Sul,Universidade Paulista - UNIP,CRUZEIRO DO SUL - Centro,Gestão Comercial,Tecnológico,Curso a Distância,149.0,1.0,NaN,NaN,NaN,555.10,NaN,NaN,NaN